.gradient-bg {
    background: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(3, 0, 215, 0.3), #000);
}

h2::selection {
    color: #87f7dd;
    background: 0 0;
    -webkit-text-stroke: 0;
    /* background: #000319; */
  }
  p::selection {
    color: #87f7dd;
    background: 0 0;
    -webkit-text-stroke: 0;
  }
  span::selection {
    color: #87f7dd;
    background: 0 0;
    -webkit-text-stroke: 0;
  }
  
  .b-border {
    border: 1px solid #c1c1c138;
  }


  @media screen and (min-width: 320px) and (max-width: 355px) {
  
    .b-border {
      border: none;
    }
  
  }
  
  @media screen and (min-width: 356px) and (max-width: 399px) {
        /* CSS rules for devices with widths between 321 pixels and 768 pixels */
        .b-border {
          border: none;
        }
  
  }