.about5-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    padding-left: 6%; padding-right: 6%;  }
  
  .a, .b {
    display: flex;
    flex-direction: column;
  }
  
  .a, .b {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  
  .a1, .b1, .b2{
    border: 1px solid #c1c1c159;
    border-radius: 1rem;
    padding: 5%;
  }
  .a2 {
    border: 1px solid #c1c1c159;
    border-radius: 1rem;
  } 
  
  .a1, .a2 {
    flex: 1; /* Let these sections take remaining space */
  }
  
  .b1, .b2 {
    flex: 1; /* Let these sections take remaining space */
  }


  .padding-stats{
    padding-top: 5.3%;
    padding-bottom: 5.3%;
  }

  .p-tabs-container {
    padding-left: 6%;
    padding-right: 6%;
  }
  
  @media (max-width: 890px) {
    .about5-container {
      grid-template-columns: 1fr;
    }
  }
  



  

@media screen and (min-width: 641px) and (max-width: 715px) { 
  /* CSS rules for devices with widths between 321 pixels and 768 pixels */
  .p-tabs-container {
    padding:  0 10%; 
  }

  .about5-container {
    
   padding:  0 10%;  }


}

@media screen and (min-width: 820px) and (max-width: 946px) { 
  /* CSS rules for devices with widths between 321 pixels and 768 pixels */
  
  .padding-stats{
    padding-top: 6%;
    padding-bottom: 6%;
  }



}