
.padding-home {
    padding: 0 6%;
    margin-top: 2%;
  }
  
  .p-midHome{
    padding: 2% 6%;
  }
  
  .mainText {
    width: 60.5%;
  }
  
  .home-video {
    width: 32%;
  }
  
  .headWidth {
    width: 100%;
  }
  
  .m-button {
    margin-top: 5%;
  }


  @media screen and (max-width: 319px) {

    .p-midHome{
      padding: 5% 5%;
    }
  
   .padding-home {
    padding: 0 5%;
    margin-top: 10%;
   } 
  
   .mainText {
    width: 100%;
   }
  
   .home-video {
    width: 80%;
  }
  
  .tinyMobile {
    font-size: 5rem
  }
  .headWidth {
    width: 99%;
  }
  .subHead{
    width: 115%;
  }


  }

  
  @media screen and (min-width: 320px) and (max-width: 355px) {
  
    .p-midHome{
      padding: 5% 5%;
    }
  
   .padding-home {
    padding: 0 5%;
    margin-top: 10%;
   } 
  
   .mainText {
    width: 100%;
   }
  
   .home-video {
    width: 80%;
  }
  
  .tinyMobile {
    font-size: 5rem
  }
  .headWidth {
    width: 105%;
  }
  .subHead{
    width: 115%;
  }
  
  }
  
  @media screen and (min-width: 356px) and (max-width: 399px) {
        /* CSS rules for devices with widths between 321 pixels and 768 pixels */
    .p-midHome{
        padding: 5% 5%;
      }
  
     .padding-home {
      padding: 0 5%;
      margin-top: 10%;
     } 
  
     .mainText {
      width: 100%;
     }
  
     .home-video {
      width: 80%;
    }
    .subHead{
      width: 107%;
    }
    .headWidth {
      width: 107%;
    }
    
  
  }
  
  @media screen and (min-width: 400px) and (max-width: 431px) {
  
    .p-midHome{
      padding: 5% 7%;
    }
  
   .padding-home {
    padding: 0 5%;
    margin-top: 10%;
   } 
  
   .mainText {
    width: 100%;
   }
  
   .home-video {
    width: 80%;
  }
  
  .headWidth {
    width: 95%;
  }

  .subHead{
    width: 105%;
  }
  
  }
  
  
  
  @media screen and (min-width: 432px) and (max-width: 500px) {
  
    .p-midHome{
      padding: 5% 7%;
    }
  
   .padding-home {
    padding: 0 7%;
    margin-top: 10%;
   } 
  
   .mainText {
    width: 95%;
   }
  
   .home-video {
    width: 80%;
  }
  .headWidth {
    width: 95%;
  }
  .subHead{
    width: 106%;
  }
  
  }
  
  @media screen and (min-width: 501px) and (max-width: 572px) { 
  
    .p-midHome{
      padding: 5% 6%;
    }
  
   .padding-home {
    padding: 0 6%;
    margin-top: 5%;
  
   } 
  
   .mainText {
    width: 100%;
  }
  
  .headWidth{
    width: 77%;
  }
  
  .subHead{
    width: 105%;
  }
  
  
  .home-video {
    width: 80%;
  }
  .headWidth {
    width: 90.5%;
  }
  
  
  }
  
  
  
  @media screen and (min-width: 573px) and (max-width: 640px) { 
    .p-midHome{
      padding: 5% 6%;
    }
  
   .padding-home {
    padding: 0 6%;
    margin-top: 5%;
  
   } 
  
   
  
  
  .home-video {
    width: 60%;
  }
  
  
  
  .mainText {
    width: 100%;
  }
  
  .headWidth{
    width: 81%;
  }
  
  .subHead{
    width: 94%;
  }
  
  }
  
  
  @media screen and (min-width: 641px) and (max-width: 715px) { 
    /* CSS rules for devices with widths between 321 pixels and 768 pixels */
    .p-midHome{
        padding: 5% 10%;
      }
  
     .padding-home {
      padding: 0 10%;
      margin-top: 5%;
     } 
  
     
  .mainText {
    width: 100%;
  }
  
  .headWidth{
    width: 87%;
  }
  
  .subHead{
    width: 95%;
  }
  
  .home-video {
    width: 58%;
  }
  
  .m-button {
    margin-top: 4%;
  }
  
  }

  @media screen and (min-width: 716px) and (max-width: 718px) { 

    .p-midHome{
      padding: 5% 6%;
    }

   .padding-home {
    padding: 0 6%;
   } 

   .headWidth{
    width: 104%;
  }
   
.mainText {
  width: 70%;
}
.subHead{
  width: 115%;
}

}


@media screen and (min-width: 719px) and (max-width: 737px) { 
  .p-midHome{
    padding: 5% 6%;
  }

 .padding-home {
  padding: 0 6%;
 } 

 .headWidth{
  width: 104%;
}
 
.mainText {
width: 70%;
}
.subHead{
width: 115%;
}

}
  
  @media screen and (min-width: 738px) and (max-width: 819px) { 
    /* CSS rules for devices with widths between 321 pixels and 768 pixels */
    .p-midHome{
        padding: 5% 6%;
      }
  
     .padding-home {
      padding: 0 6%;
     } 
  
     
  .mainText {
    width: 68%;
  }
  .subHead{
    width: 115%;
  }

  }


  @media screen and (min-width: 820px) and (max-width: 826px) { 

    .headWidth{
      width: 101%;
    }

    .subHead{
      width: 118%;
    }
  }


  @media screen and (min-width: 827px) and (max-width: 892px) { 
    /* CSS rules for devices with widths between 321 pixels and 768 pixels */
    
    .headWidth{
      width: 104%;
    }

    .subHead{
      width: 118%;
    }



  }



  @media screen and (min-width: 893px) and (max-width: 909px) { 
    .headWidth{
      width: 102%;
    }

    .subHead{
      width: 118%;
    }


  }

  @media screen and (min-width: 910px) and (max-width: 919px) { 
    .headWidth{
      width: 100%;
    }

    .subHead{
      width: 118%;
    }


  }


  @media screen and (min-width: 920px) and (max-width: 926px) { 
    .headWidth{
      width: 100%;
    }

    .subHead{
      width: 118%;
    }


  }
  
  @media screen and (min-width: 927px) and (max-width: 946px) { 
    .headWidth{
      width: 98%;
    }

    .subHead{
      width: 118%;
    }


  }



  @media screen and (min-width: 947px) and (max-width: 955px) { 
    /* CSS rules for devices with widths between 321 pixels and 768 pixels */
    
    .headWidth{
      width: 103%;
    }

    .subHead{
      width: 115%;
    }



  }
  


  @media screen and (min-width: 956px) and (max-width: 974px) { 
    /* CSS rules for devices with widths between 321 pixels and 768 pixels */
    
    .headWidth{
      width: 102%;
    }

 


  }
  