
.padding-home {
    padding: 0 6%;
    margin-top: -2%;
  }
  
  .p-midHome{
    padding: 0% 6%;
    margin-top: -1%;
    margin-bottom: 7%;
  }
  
  .mainText {
    width: 100%;
  }
  
  .home-video {
    width: 100%;
    margin-left: 15%;
  }
  
  .headWidth {
    /* width: 97%; */
    width: 132%;
  }
  
  .m-button {
    margin-top: 7%;
  }
  .subHead{
    width: 135%;
  }

  @media screen and (max-width: 319px) {

    .p-midHome{
      padding: 5% 5%;
    }
  
   .padding-home {
    padding: 0 5%;
    margin-top: 10%;
   } 
  
   .mainText {
    width: 100%;
   }
  
   .home-video {
    width: 100%;
    scale: 1.2;
    margin-top: 12%;
  }
  
  .tinyMobile {
    font-size: 5rem
  }
  .headWidth {
    width: 98%;
    font-size: 1.25rem;
  }
  .subHead{
    width: 110%;
  }


  }

  
  @media screen and (min-width: 320px) and (max-width: 355px) {
  
    .p-midHome{
      padding: 5% 5%;
    }
  
   .padding-home {
    padding: 0 5%;
    margin-top: 10%;
   } 
  
   .mainText {
    width: 100%;
   }
  
   .home-video {
    width: 100%;
    scale: 1.2;
    margin-top: 12%;
  }
  
  .tinyMobile {
    font-size: 5rem
  }
  .headWidth {
    width: 90%;
  }
  .subHead{
    width: 96%;
  }
  .m-button{
    margin-top: 5%;
  }
  }
  
  @media screen and (min-width: 356px) and (max-width: 399px) {
        /* CSS rules for devices with widths between 321 pixels and 768 pixels */
    .p-midHome{
        padding: 5% 5%;
      }
  
     .padding-home {
      padding: 0 5%;
      margin-top: 10%;
     } 
  
     .mainText {
      width: 100%;
     }
  
     .home-video {
      width: 100%;
      scale: 1.2;
      margin-top: 12%;
    }
    .subHead{
      width: 90%;
    }
    .headWidth {
      width: 91%;
    }
    
    .m-button{
      margin-top: 5%;
    }
  }
  
  @media screen and (min-width: 400px) and (max-width: 431px) {
  
    .p-midHome{
      padding: 5% 7%;
    }
  
   .padding-home {
    padding: 0 5%;
    margin-top: 10%;
   } 
  
   .mainText {
    width: 100%;
   }
  
   .home-video {
    width: 100%;
    scale: 1.2;
    margin-top: 12%;  }
  
  .headWidth {
    width: 83%;
  }

  .subHead{
    width: 92%;
  }
  .m-button{
    margin-top: 5%;
  }
  
  }
  
  
  
  @media screen and (min-width: 432px) and (max-width: 491px) {
  
    .p-midHome{
      padding: 5% 7%;
    }
  
   .padding-home {
    padding: 0 7%;
    margin-top: 10%;
   } 
  
   .mainText {
    width: 95%;
   }
  
   .home-video {
    width: 80%;
  }
  .headWidth {
    width: 80%;
  }
  .subHead{
    width: 89%;
  }
  .home-video {
    width: 100%;
    scale: 1.2;
    margin-top: 8%;
  }
  .m-button {
    margin-top: 5%;
  }
  
  
  }
  
  @media screen and (min-width: 492px) and (max-width: 495px) {
  
    .p-midHome{
      padding: 5% 7%;
    }
  
   .padding-home {
    padding: 0 7%;
    margin-top: 10%;
   } 
  
   .mainText {
    width: 95%;
   }
  
   .home-video {
    width: 80%;
  }
  .headWidth {
    width: 79%;
  }
  .subHead{
    width: 88%;
  }
  .home-video {
    width: 100%;
    scale: 1.2;
    margin-top: 9%;
  }
  .m-button {
    margin-top: 4%;
  }
  
  }
  

  @media screen and (min-width: 496px) and (max-width: 500px) {
  
    .p-midHome{
      padding: 5% 7%;
    }
  
   .padding-home {
    padding: 0 7%;
    margin-top: 10%;
   } 
  
   .mainText {
    width: 95%;
   }
  
   .home-video {
    width: 100%;
    scale: 1.2;
    margin-top: 9%;
  }
  .headWidth {
    width: 78%;
  }
  .subHead{
    width: 87%;
  }
  .m-button {
    margin-top: 4%;
  }
  
  }


  @media screen and (min-width: 501px) and (max-width: 515px) {
  
    .p-midHome{
      padding: 5% 7%;
    }
  
   .padding-home {
    padding: 0 7%;
    margin-top: 10%;
   } 
  
   .mainText {
    width: 95%;
   }
  
   .home-video {
    width: 80%;
  }
  .headWidth {
    width: 91%;
  }
  .subHead{
    width: 104%;
  }

  .home-video {
    width: 100%;
    scale: 1.2;
    margin-top: 9%;
  }
  .m-button {
    margin-top: 5%;
  }
  
  }



  @media screen and (min-width: 516px) and (max-width: 572px) { 
  
    .p-midHome{
      padding: 5% 6%;
    }
  
   .padding-home {
    padding: 0 6%;
    margin-top: 5%;
  
   } 
  
   .mainText {
    width: 100%;
  }
  
  
  
  .subHead{
    width: 87%;
  }
  
  
  .home-video {
    width: 80%;
  }
  .headWidth {
    width: 76%;
  }
  .home-video {
    width: 100%;
    scale: 1.2;
    margin-top: 7%;
  }
  .m-button {
    margin-top: 4%;
  }
  
  }
  
  
  
  @media screen and (min-width: 573px) and (max-width: 631px) { 
    .p-midHome{
      padding: 5% 6%;
    }
  
   .padding-home {
    padding: 0 6%;
    margin-top: 5%;
  
   } 
  
   
  
  
  
  .m-button {
    margin-top: 4%;
  }
  
  
  .mainText {
    width: 100%;
  }
  
  .headWidth{
    width: 67%;
  }
  
  .subHead{
    width: 79%;
  }
  .home-video {
    width: 100%;
    scale: 1.7;
    margin-top: 17%;
    margin-bottom: 7%;
  }
  
  }
  
  @media screen and (min-width: 573px) and (max-width: 640px) { 
    .p-midHome{
      padding: 5% 6%;
    }
  
   .padding-home {
    padding: 0 6%;
    margin-top: 5%;
  
   } 
  
   
  
  
  .home-video {
    width: 100%;
    scale: 1.2;
    margin-top: 7%;
    margin-bottom: 0%;
    }
  
  
  
  .mainText {
    width: 100%;
  }
  
  .headWidth{
    width: 67%;
  }
  
  .subHead{
    width: 77%;
  }

  .m-button {
    margin-top: 4%;
  }
  
  }

  
  @media screen and (min-width: 641px) and (max-width: 715px) { 
    /* CSS rules for devices with widths between 321 pixels and 768 pixels */
    .p-midHome{
        padding: 5% 10%;
      }
  
     .padding-home {
      padding: 0 10%;
      margin-top: 5%;
     } 
  
     
  .mainText {
    width: 100%;
  }
  
  .headWidth{
    width: 73%;
  }
  
  .subHead{
    width: 78%;
  }
  
  .home-video {
    width: 100%;
    scale: 1.2;
    margin-top: 7%;
    margin-bottom: 0%;  
  }
  
  .m-button {
    margin-top: 4%;
  }
  
  }

  @media screen and (min-width: 716px) and (max-width: 718px) { 

    .p-midHome{
      padding: 5% 6%;
    }

   .padding-home {
    padding: 0 6%;
   } 

   .headWidth{
    width: 108%;
  }
   
.mainText {
  width: 70%;
}
.subHead{
  width: 132%;
}
.home-video {
  width: 100%;
  margin-left: -3%;  
}

.p-midHome {
  margin-top: -5%;
}

}


@media screen and (min-width: 719px) and (max-width: 737px) { 
  .p-midHome{
    padding: 5% 6%;
  }

 .padding-home {
  padding: 0 6%;
 } 

 .headWidth{
  width: 108%;
}
 
.mainText {
width: 70%;
}
.subHead{
width: 132%;
}
.home-video {
  width: 100%;
  margin-left: -3%;  
}
.p-midHome {
  margin-top: -5%;
}

}
  
  @media screen and (min-width: 738px) and (max-width: 819px) { 
    /* CSS rules for devices with widths between 321 pixels and 768 pixels */
    .p-midHome{
        padding: 5% 6%;
        margin-top: -6%;
      }
  
     .padding-home {
      padding: 0 6%;
     } 
  
     
  .mainText {
    width: 68%;
  }
  .subHead{
    width: 132%;
  }

  .headWidth{
    width: 108%;
  }
  .home-video {
    width: 100%;
    margin-left: 2%;  
  }

  .m-button {
    margin-top: 6%;
  }




  }


  @media screen and (min-width: 820px) and (max-width: 826px) { 

    .headWidth{
      width: 108%;
    }

    .subHead{
      width: 132%;
    }

    .home-video {
      width: 100%;
      margin-left: 7%;  
    }
    .m-button {
      margin-top: 5%;
    }
  }


  @media screen and (min-width: 827px) and (max-width: 892px) { 
    /* CSS rules for devices with widths between 321 pixels and 768 pixels */
    
    .headWidth{
      width: 108%;
    }

    .subHead{
      width: 132%;
    }

    .home-video {
      width: 100%;
      margin-left: 10%;  
    }

    .m-button {
      margin-top: 6%;
    }
  }



  @media screen and (min-width: 893px) and (max-width: 909px) { 
    .headWidth{
      width: 108%;
    }

    .subHead{
      width: 132%;
    }


  }

  @media screen and (min-width: 910px) and (max-width: 919px) { 
    .headWidth{
      width: 108%;
    }

    .subHead{
      width: 132%;
    }


  }


  @media screen and (min-width: 920px) and (max-width: 926px) { 
    .headWidth{
      width: 108%;
    }

    .subHead{
      width: 132%;
    }


  }
  
  @media screen and (min-width: 927px) and (max-width: 946px) { 
    .headWidth{
      width: 108%;
    }

    .subHead{
      width: 132%;
    }


  }



  @media screen and (min-width: 947px) and (max-width: 955px) { 
    /* CSS rules for devices with widths between 321 pixels and 768 pixels */
    
    .headWidth{
      width: 130%;
    }

    .subHead{
      width: 132%;
    }



  }
  


  @media screen and (min-width: 956px) and (max-width: 974px) { 
    /* CSS rules for devices with widths between 321 pixels and 768 pixels */
    
    .headWidth{
      width: 130%;
    }

    .subHead{
      width: 132%;
    }



  }
  